@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Oswald:wght@400;500;700&display=swap");

:root {
  --ff-Montserrat: "Montserrat", sans-serif;
  --ff-Oswald: "Oswald", sans-serif;

  --clr-primary: #a59678;
  --clr-200: #6f737f;
  --clr-300: #3b4050;
  --clr-400: #2e323f;
  --clr-white: #fff;

  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 1.3125rem;
  --fs-500: 1.5rem;
  --fs-600: 1.875rem;
  --fs-700: 2.25rem;
  --fs-800: 5.625rem;

  --fw-med: 500;
  --fw-bold: 700;
  --fw-bolder: 900;

  --med-breakpoint: 43.75em;
  --large-breakpoint: 62.5em;

  --container-width: 75em;
}

/* reset */

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
  /* figure, dl, and dd have default margin */
  /* font-weight: 100; */
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  line-height: 1.4;
  font-size: var(--fs-400);
}

a {
  text-decoration: none;
  color: var(--link-fg, var(--clr-neutral-900));
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
}

img {
  /* using object-fit for images. we have to set a height or a min-height on the image and the width of 100% 
  exception to the rule of setting a height. we can sometime use it on a child element.
  */
  max-width: 100%;
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  display: block;
  height: auto;
}

ul[class],
li[class] {
  list-style: none;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  line-height: 1.5;
  font-family: var(--ff-Oswald);
}

/* utilities */

.flow-content > * + * {
  margin: 1em 0 0 0;
}

.columns {
  display: flex;
  flex-flow: column;
}

.columns > * {
  flex-basis: 100%;
}

.columns > * + * {
  margin: 1em 0 0 0;
}

[class*="bg-"] {
  background: var(--bg, var(--clr-white));
  color: var(--fg, #000);
}

[class*="col-"] {
  flex-basis: var(--flex-col, 100%);
}

.col-2 {
  --flex-col: 50%;
}

.col-3 {
  --flex-col: 75%;
}

.col-4 {
  --flex-col: 25%;
}

.bg-dark {
  --bg: var(--clr-300);
  --fg: var(--clr-primary);
}

.bg-light {
  --bg: var(--clr-200);
  --fg: var(--clr-primary);
}

.bg-accent {
  --bg: var(--clr-300);
  --fg: var(--clr-white);
}

.btn {
  background-color: var(--fg, var(--clr-primary));
  color: var(--bg, var(--clr-white));
}

.container {
  width: 90%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 1.5em 0 1.5em;
}

@media screen and (min-width: 43.75em) {
  /* navigation */
  .less-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  /* don't display the hamburger button */
  .nav-toggle {
    display: none;
  }
  /* move logo to the left of navbar */
  .logo {
    display: inline;
    margin: 0;
  }
  /* make section with class nav-bar a flex container. its children will be the container with our logo and our ul */
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  /* give the parent container that has our ul in it 75% flex-basis so we can space out our nav menu */
  .nav {
    flex-basis: 75%;
  }
  /* since the nav-menu(ul element) parent container has a flex-basis of 75% we can use space-evenly to space out our li */
  .nav_list {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
  }
}

/* typeography */

.title-primary,
.footer h2 {
  font-size: 3rem;
}

.text-white {
  color: var(--clr-white);
}

.highlight {
  color: var(--clr-primary);
}

.selling-point h2,
.secondary-title,
.footer__nav-title,
ul.footer__nav-list li:first-child a {
  color: var(--clr-primary);
}

.section-title,
.sidebar {
  text-align: center;
}

.footer__nav p,
ul.footer__nav-list li:not(:first-child) a {
  color: lightgray;
}

p {
  font-family: var(--ff-Montserrat);
}

/* remember to change width and padding at desktop screen */

.nav-toggle {
  width: 3em;
  height: 3em;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

@media screen and (min-width: 43.75em) {
  /* don't display the hamburger button */
  .nav-toggle {
    display: none;
  }
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 4px;
  background-color: var(--clr-white);
}

.hamburger {
  margin: auto;
  transform: translateY(15px);
}

.hamburger::before {
  transform: translateY(-0.5rem);
}

.hamburger::after {
  transform: translateY(-1.55rem);
}

.nav-bar {
  /* background-color: var(--clr-400); */
  /* display: flex;
  align-items: center; */
  /* padding: 1em 1em; */
  text-align: center;
}

@media screen and (min-width: 43.75em) {
  /* make section with class nav-bar a flex container. its children will be the container with our logo and our ul */
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
}

/* general styles */

/* navigation */

.nav {
  color: var(--clr-white);
}

@media screen and (min-width: 43.75em) {
  /* give the parent container that has our ul in it 75% flex-basis so we can space out our nav menu */
  .nav {
    flex-basis: 75%;
  }
  /* since the nav-menu(ul element) parent container has a flex-basis of 75% we can use space-evenly to space out our li */
  .nav__list {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
  }
}
/***************** if we have the @media min-width: 43.75em below our @media min-width: 62.5em. the code in the 43.75em will always win because of the source order.
1000px and 700px breakpoint will always meet the 700px breakpoint when we have the min-width: 43.75em below the 62.5em @media queries.
*********************/
@media screen and (min-width: 62.5em) {
  /* give the parent container that has our ul in it 75% flex-basis so we can space out our nav menu */
  .nav {
    flex-basis: 50%;
  }
  /* since the nav-menu(ul element) parent container has a flex-basis of 75% we can use space-evenly to space out our li */
  .nav__list {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
  }
}

.nav__list {
  /* text-align: center; */
}

.nav__link {
  color: inherit;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

li.nav__item {
  padding: 1em 0;
}

/* making button, logo and nav item center at mobile display */

.center-elements {
  display: flex;
  align-items: center;
  position: relative;
}

/* li.nav__item:hover {
  background-color: var(--clr-primary);
} */

.nav__link.btn,
.text-content .btn {
  padding: 0.3em 0.75em;
  border-radius: 10em;
}

a.nav__link:hover {
  color: var(--clr-primary);
}

a.nav__link.btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

/* specificity might be too high (0,3,2) */

/* li.nav__item:not(:last-child) a.nav__link {
  color: red;
} */
.logo {
  display: inline-block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media screen and (min-width: 43.75em) {
  .hidden {
    display: block;
  }
}

.header {
  background-color: var(--clr-400);
}

.hero,
.sidebar > div,
.footer {
  background-color: var(--clr-300);
}

.selling-points {
  background-color: lightgray;
}

.text-content .btn {
  display: inline-block;
}

.sidebar {
  margin-top: 1.5em;
}

.sidebar > div {
  padding: 2em 1.5em;
}

.company-info {
  margin-top: 3em;
}

.footer__nav-list:first-of-type {
  margin-top: 3em;
}

/* notes: at 700px breakpoint nav element with class of nav we want to its flex-basis to be 75% but at the 1000px breakpoint we want its flex-basis to be 50% */
