@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --clr-primary: #23424a;
  --clr-secondary: #87629a;
  --clr-bg-secondary: #136c72;
  --clr-btn: #38cfd9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

body {
  font-family: "Roboto";
  line-height: 1.5;
  /* color: #fff; */
  font-size: 1.3rem;
}

img {
  /* we use max-width: 100% so when we have an img element inside of a div and we want to use flex which means the div will be a flex item
    the img will shrink and grow as its parent element shrink and grows
    */
  max-width: 100%;
  display: block;
  height: auto;
}

ul[class],
li[class] {
  /* margin: 0; */
  padding: 0;
}

/* utilities */

[href="#hero"],
.testing-understanding {
  display: inline-block;
  position: absolute;
  /* outline: 1px solid red; */
  padding: 0.5em 0.5em;
  color: var(--clr-primary);
  background-color: white;
  /* border-radius: 100vw; */
  transform: translateY(-100%);
}

[href="#hero"]:focus {
  transform: translateY(0);
  border: 0.5em dotted black;
}

.hero {
  background-color: var(--clr-primary);
}

.container {
  max-width: 53.125em;
  margin: 0 auto;
  padding: 3em 1.5em;
}

.hero__title {
  font-size: 2.5rem;
  line-height: 1;
}

h1,
p {
  max-width: 40rem;
}

.hero__text p:first-of-type {
  margin-top: 2em;
  font-weight: 100;
}

[class*="bg-"] {
  background: var(--bg, var(--clr-btn));
  color: var(--fg, var(--primary));
}

.bg-dark {
  --fg: white;
  --bg: var(--clr-primary);
}

.content-two {
  --bg: var(--clr-bg-secondary);
}
.bg-accent {
  --fg: var(--third-clr, #000);
  /* --bg: var(--bg-accent, var(--clr-primary)); */
}

.hidden {
}

.columns {
  display: flex;
  justify-content: space-between;
}

.columns > * {
  flex-basis: 100%;
}

.columns > * + * {
  margin-left: 1em;
}

.col-3 {
  flex-basis: 62%;
}

.col-1 {
  flex-basis: 32%;
}

.flow-content > * + * {
  margin-top: 1em;
}

.inline-content > * + * {
  margin-left: 1em;
}

.text-centered {
  text-align: center;
}

.text-accent {
  color: var(--clr-bg-secondary);
}

.btn-accent {
  background: var(--fg, var(--clr-bg-secondary));
  color: var(--bg, #fff);
}

.btn {
  --bg: var(--clr-primary);
  margin-top: 1em;
  background: var(--clr-btn);
  color: var(--bg, white);
  border: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1em 1.5em;
  border-radius: 100vw;
}

.text-centered.col-1 {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.space-top {
  padding-top: 1.5em;
}

[class*="content"] h2 {
  font-weight: 900;
}

/* navigation */

[role="banner"] {
  padding: 0.01em;
  background-color: #136c72;
  color: #fff;
}

header[role="banner"] > div.container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: center;
  margin-right: 1em;
}

.nav__item {
  list-style: none;
  /* margin: 0; */
  padding: 0;
}

/* .nav__item:not(:last-child) .nav__link {
  color: white;
} */

.nav__link.text-white {
  color: white;
}

.nav__link {
  --bg: #136c72;
  --fg: white;
  text-decoration: none;
  text-transform: uppercase;
  /* color: inherit; */
}

.nav {
  display: flex;
  /* or we can give it a width: 100% */
  flex-grow: 1;
  justify-content: space-between;
}

.nav__list {
  display: flex;
}

.nav__link.btn-accent {
  padding: 0.2em 0.5em;
  border-radius: 100vw;
}

/* .content-one h2 {
  color: var(--clr-secondary);
} */

/* to get logo and three of the li to the left and two of the li to the right  */

/* we have to declare align-self: center on logo */
/* give the container that holds the logo and our nav. the nav element holds our 5 links(lis) a display: flex */
/* our container that hold the two ul. one ul holds three lis and one ul holds two lis. we want to declare width: 100% or give it flex-grow: 1
so that it takes up the available space.
*/

/* to get the nav layout of logo on the left the three lis in the middle and two lis on the right*/

.nav__list--primary {
  margin-left: auto;
  margin-right: auto;
}
